<% layout("./layout/boilerplate.ejs")  %>
<body>
    <div class="blog-box">
        <h1 style="text-align: center"><%= blog.username %>'s Post</h1>
        <hr>
        <h3 style="text-align: center"><%= blog.title %></h3>
        <p><%= blog.blogmat %></p>
    </div>

</body>